// Imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,800');

// Color Variables
$color-primary: #fe7f77;
$color-secondary: #ffd893;
$color-tertiary: #f5b889;
$color-gray: #888;

$color-sunshine: rgba(255, 255, 255, 0.5);
$color-shadow: rgba(0, 0, 0, .1);

$bg-color: linear-gradient(#fe7f77, #ffd893);

// Font Variables
$font-primary: 'Open Sans', sans-serif;

// Responsive Breakpoints
$bp-small: 25em; // 400/16 = 25


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% --> 1rem = 10px
}

body {
    background: $bg-color no-repeat;
    font-family: $font-primary;
}

html, body {
    min-height: 100%; // full page
}

