.data {
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, min-content);
    grid-gap: 1.5rem;
    justify-items: center;

    &__card {
        width: 90%;
        max-width: 50rem;
        padding: 1.5rem;
        background: #fff;
        color: $color-gray;
        font-size: 1.6rem;
        text-align: center;
        box-shadow: 0 5px 15px $color-shadow;
        transform: perspective(600px) rotateX(0deg);

        &--result {
            padding-bottom: 1.5rem;
        }

        &--altitude {
            display: block;
            color: $color-primary;
            font-weight: 300;
            font-size: 4rem;
        }

        &--forecast-text {
            color: $color-primary;
            font-weight: 300;
            font-style: italic;
        }

        &--source {
            width: max-content;
            //max-width: -moz-fit-content;
            //max-width: -webkit-fit-content;
            color: $color-primary;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.3rem;
            margin: 1.5rem auto 0 auto;
            display: block;
            border-bottom: 1px solid transparent;
            transition: all .2s;

            &:hover {
                border-bottom: 1px solid $color-primary;
            }
        }
    }

    #results {
        display: none;
        transition: transform .75s linear;
    }

    #forecast {
        display: none;
        transition: transform .75s linear .25s;
    }

    #facts {
        display: none;
        transition: transform .75s linear .5s;
    }
}